.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$roboto: 'Roboto';
$cursive_font: 'Satisfy';
$round: 'Varela Round';
$cta: #fe8033;
$bg: #272b34;
$light_bg: #2b3039;
$text: #9cb9dc;
$white: #ffff;

body{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: round;
}


.dFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    box-sizing: border-box;
    background-color: #97d2fc;
}
nav {
  @extend .dFlex;
  justify-content: space-around;
  width: 100%;
  color: white;
  .logo{
    font-size: 100%;
    text-transform: uppercase;
  }
  ul{
    @extend .dFlex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li{
    font-size: 100%;
    margin-left: 15px;
    padding:10px;
    box-sizing: border-box;
    color: rgba($white, .7);
    cursor: pointer;
    
  }
  .cart
  {
    color: rgba($white, .7);
    .fa{
      cursor: pointer;
      +.fa{
        margin-left: 15px;
      }
    }
  }
}

.main_page{
  @extend .dFlex;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  .Search {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    // text-align:center;
  
    
  }
  .card{
    @extend .dFlex;
    position: relative;
    width: 30%;
    border-radius: 15px;
    flex-direction: column;
    transform: scale(.8);
    transition: all .3s ease-in-out;
    margin-bottom: 50px;

  }
  .card_img{
    margin-top: -5vw;
    img {
      border-radius: 15px 15px 0 0;
      width: 100%;
    }
  }
  .card_header{
    @extend .dFlex;
    flex-direction: column;
    color: $white;
    margin: 25px 0;
    h2 {
      font-size: 18px;
    }
    p{
      font-size: 14px;
      text-align: center;
      color: rgba($white, .3);
      margin: 8px 0;
    }
    .price{
      font-size: 25px;
      color: $cta;
      span{
        font-size: 15px;
        display: inline-block;
        vertical-align:top ;
      }
    }
  }
  .card:hover{
    background-color: $light_bg;
    transform: scale(1.1);
    cursor: pointer;
  }
  .card:hover{
    .btn{
      background-color: $cta;
      color: $white;
    }
  }
 
}

.btn{
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 5px;
  background-color:$text;
  color: rgba($white, .5);
  @extend .dFlex;
  cursor: pointer;
  position: relative;
  transition: background-color .3s ease;
  overflow: hidden;
}


.footer {
  @extend .dFlex;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
  color: rgba($white, .3);
  font-size: 12px;
  .Connect {
    @extend .dFlex;
    .fa{
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 1px solid rgba(white, .3);
      @extend .dFlex;
      font-size: 14px;
      color: rgba($white, .5);
      cursor: pointer;
      +.fa{
        margin-left: 15px;

      }
    }
  }
}


